/*
  Name: home-page.css
  Author: Nate and Daniel
  Date Created: 10/11/18
  Date Modified: 10/12/18
*/

body {
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Arial;
}
